.blog {
    display: grid;
    gap: 4rem;
    width: 95%;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .blog {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 992px) {
    .blog {
        grid-template-columns: repeat(3, 1fr);
    }
}