.no_encontrado {
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.no_encontrado h1 {
    color: black;
}
.no_encontrado a {
    color: var(--primary);
    text-decoration: none;
    margin: 0;
    font-size: 2rem;
}